*{
    font-family: 'Comfortaa', cursive;

}
#header{
 
    background: linear-gradient(90deg,  #000000 0, #192730 50%)
}

.text-achi{
    color: #E2C375 !important
}

.navbar-brand img{

    width: 8rem;
}

.dropdown-menu{

    background-color:#192730;
    color: #E2C375;

}

.dropdown-menu a {

  
    color: #E2C375;

}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h3{
    text-align: center;
    color: aliceblue;
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
}

.section h3 img{
    height: 61px;
    width: 55px;
}

/* 
.section h1  span{
    color: #ecc100
} */

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background:  linear-gradient(90deg, #000000 0, #192730 50%, #1e5372);
    width: 100%;
    height: 100vh;
    opacity: 0.8;
}
#footer{
    
    background: linear-gradient(90deg,  #000000 0, #192730 50%)
   
}
#footer a{

    color: aliceblue;

}

/* #dropdown-menu{

} */


body {
	overflow-x: hidden; /*--right gutter fix--*/
}







/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


.container{
    margin-top: 8%;
    margin-left: 8%;
}


.card{
   border-radius: 15px;

}

.card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
 }
.card:hover{
    -webkit-box-shadow: 0px 33px 55px -6px rgba(111,198,242,1);
    -moz-box-shadow: 0px 33px 55px -6px rgba(111,198,242,1);
     box-shadow: 0px 33px 55px -6px rgba(111,198,242,1);

}




