*{
    font-family: 'Comfortaa', cursive;

}
.header{
 
    background: linear-gradient(90deg,  #000000 0, #192730 50%);
    width: 100%;
}






 #portfolio{
    color: #E2C375;

 }


 .navbar{

    text-transform: uppercase;
    width: 100%;
    

 }
 .navbar a {
     color: white;
 }
.navbar-brand img{

    width: 9rem;
  
}





.dropdown-menu{

    background-color:#192730;
    color: #E2C375;

}

.dropdown-menu a {

  
    color: #E2C375;

}





.caption{

    top:40%;
    max-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.caption h3{
    color: #E9ECEF;
    text-transform: uppercase;
    animation: mejorLoMejorIn 1s;
}

h3.heading{

    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
    
}


h1{
    text-transform: uppercase;
    font-size: 1.9rem;
}

.padding{
    padding: 2rem 0;
}
.container-fuild h3{
    font-size: 1.9rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
}
img.portfolio{

    max-width: 50%;
}


.no-padding .col-md-6{
    padding: 0;
}




body {
    overflow-x: hidden; /*--right gutter fix--*/
    
}


.home-inner{
    
    background-image: url('img/galaxyIMG2.jpg')
}




/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


.container{
    margin-top: 8%;
    margin-left: 8%;
}


/* buttons */
.btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  /* Boostrap Buttons Styling */
  
  .btn-default {

    font-size: 15px;
    color: #E2C375;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid  #192730;
    border-radius: 40px;
    background: linear-gradient(90deg,  #000000 0, #192730 50%);
    transition: all 0.3s ease-in-out 0s;
  }
  
  
  .btn-default:hover {
    color: #000000;
    background:   #E2C375;
    border: 2px solid #192730;
  }

  /*button main*/
  .btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  /* Boostrap Buttons Styling */
  
  .btn-main{
    animation: mejorLoMejorIn 3s;
    font-size: 15px;
    color: #E2C375;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid  #192730;
    border-radius: 40px;
    background: linear-gradient(90deg,  #000000 0, #192730 50%);
    transition: all 0.3s ease-in-out 0s;
  }
  
  
  .btn-main:hover {
    color: #192730;
    background:   #E2C375;
    border: 2px solid #192730;
  }

.jumbotron{
      background-color: #f8f8f8;
      
  }

 #bodyTerms-contidions{
     background: #f8f8f8;
     color: #444;
    


 }


#footer{
    
    background: linear-gradient(90deg,  #000000 0, #192730 50%)
    
}
#footer a{

    color: aliceblue;

}



#footer img{
    
    max-width: 15rem;
}

  #footer h5{
      text-transform: uppercase;
      color: #e9c361;
      font-size: 1rem;
  }


  #footer h6{
    color: #E9ECEF;
    font-size: 1rem;
  }
  #footer p{
      color: #E9ECEF;
      font-size: 0.8rem;
  }


     /* End Hexagons footer links */


    section#footer-bottom{
      background: #e9c361;
      font-size: .7em;
      height: 2.9em;
      color: #192730;
      clear: both;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
      display: block;
     
  }